.likeBtn {
  font-size: 32px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.like {
  border: 1px solid #256ae8;
  color: #256ae8;
  background: #fff;
}
.liked {
  border: 1px solid #256ae8;
  color: #fff;
  background: #256ae8;
}

.AppAbout{
  width: 90%;
  height: 24%;
  margin: auto;
  /* background: pink; */
}
.AppBox{
  width: 70%;
  margin-bottom: -30px;
  margin: auto;
  background: darkgray;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}
.AppBoxContents{
  margin:10px auto;
  width: 90%;
  height: 70%;
  background: pink;
  padding-top: 10px;
  padding-bottom: 10px;
}
.AppContent{
  background: white;
  width: 90%;
  height: 45%;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.LikeTextBox{
  font-size: 2.5rem;
  margin-top: 20px;
}
.componentTxt{
  font-size: 22px;
}
.parentComponentTxt{
  text-align: left;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.componentAbout{
  font-size: 16px;
  text-align: left;
  padding: 0 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
